@charset "utf-8";

body{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header{
	padding: 5px 0px;
	margin-bottom: 20px; 
	height: 30px;
	color: #fff;
	background-color: #545454;
	box-shadow: 0px 2px 2px #ccc;
}

/*O primeiro div que for do header - o primeiro div filho do header*/
header > div{
	margin-left: 8px;
}

/*Como conteudo é um id do div, deve ficar #conteudo.*/
#conteudo{
	padding: 0px 8px;
}

footer{
	padding: 0px 8px;
	margin-bottom: 10px;
}