@charset "utf-8";

/* # -> id 
   . -> classe do css
*/

body{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header{
	padding: 5px 0px;
	margin-bottom: 20px; 
	height: 30px;
	color: #fff;
	background-color: #545454;
	box-shadow: 0px 2px 2px #ccc;
}

/*O primeiro div que for do header - o primeiro div filho do header*/
header > div{
	margin-left: 8px;
}

/*Como conteudo é um id do div, deve ficar #conteudo.*/
#conteudo{
	padding: 0px 8px;
}

footer{
	padding: 0px 8px;
	margin-bottom: 10px;
}

h1{
	font-size: 24px;
	font-weight: 600;
	padding: 0px;
	margin: 0px;
}

#login-dialog{
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

.grid-login{
	background-color: #fefefe;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
}

.rotulo{
	width: 150px;
}

/*Customização de uma classe do css do primefaces da parte de "td" (ui-panelgrid td)*/
.ui-panelgrid td{
	height: 34px;
}

.ajax-status {
	position: fixed;
	top: 55px;
	right: 10px;
	width: 35px;
	height: 35px
}

.ui-selectmanycheckbox td{
	border-width: 0px !important;
	padding: 0px !important;
}

.ui-selectmanycheckbox td label{
	
}

.produto-tabela input{
	width: 99%;
}

/* Customiza TabView - início */
.ui-tabs .ui-tabs-panel {
    padding: 0.5em 0.2em !important;
}

.ui-tabs {
    padding: 0px !important;
}

.ui-tabs .ui-tabs-nav {
    margin: -1px !important;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav {
    padding: 0px !important;
}
/* Customiza TabView - fim */

/* Menu sistema inicio */
.menu-sistema {
    border: 0px !important;
    padding: 0px !important;
    background: none !important;
}

.menu-sistema .ui-menu-parent > a .ui-menuitem-text, .menu-sistema > .ui-menu-list > .ui-menuitem > a > .ui-menuitem-text {
    color: #ffffff !important;
}

.menu-sistema .ui-icon-triangle-1-s {
    background: url(#{resource['images:seta-para-baixo.png']}) no-repeat;
}
/* Menu sistema fim */

	
}