@charset "utf-8";

/* # -> id 
   . -> classe do css
*/

body{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header{
	padding: 5px 0px;
	margin-bottom: 20px; 
	height: 30px;
	color: #fff;
	background-color: #545454;
	box-shadow: 0px 2px 2px #ccc;
}

/*O primeiro div que for do header - o primeiro div filho do header*/
header > div{
	margin-left: 8px;
}

/*Como conteudo é um id do div, deve ficar #conteudo.*/
#conteudo{
	padding: 0px 8px;
}

footer{
	padding: 0px 8px;
	margin-bottom: 10px;
}

h1{
	font-size: 24px;
	font-weight: 600;
	padding: 0px;
	margin: 0px;
}

#login-dialog{
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

.grid-login{
	background-color: #fefefe;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
}
